* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  scroll-behavior: smooth; /* Make the scolling effect button smooth and not instant */
}

body {  /* Vigneting effect to the whole body and background image */
  background-color: #0f0d1b;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  background-attachment: local;
  overflow-x: hidden;
  transition: background-image 0.3s, background-color 0.3s, color 0.3s;
}

body.light { /* Light version of the body (background image, color... */
  background-color: #757056;
  background-image: url("images/light_back.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  background-attachment: local;
  overflow-x: hidden;
  transition: background-image 0.3s, background-color 0.3s;
}

h1 {
  text-align: center;
  margin-top: 1%;
}

h2 {
  text-align: left;
  margin-top: 1%;
}

.title { /* Main title under the logo dark version */
  font-family: "Amatic SC", sans-serif;
  font-size: 100px;
  color: white;
  -webkit-text-stroke: 2px black;
  transition: 0.5s ease;
}

.light .title { /* Main title under the logo light version */
  font-family: "Amatic SC", sans-serif;
  font-size: 100px;
  color: black;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
}

.eye_block { /* Logo placement box */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.eye_block:hover { /* Logo placement box hover effect */
  transform: scale(1.1);
}

.eye_img { /* Logo image dark version */
  width: 200px;
  transition: 0.5s ease;
}

.light .eye_img { /* Logo image light version */
  width: 200px;
  filter: invert();
  transition: 0.5s ease;
}

.box { /* Buttons box to center */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.btn { /* Main buttons dark version */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: calc(50% / 3);
  margin: 60px;
  background-color: #2b6f8fa8;
  border-radius: 30px;
  border: solid;
  border-width: 3px;
  border-color: #004261;
  text-decoration: none;
  transition: 0.5s ease;
}

.btn:hover { /* Main buttons hover effect dark version */
  background-color: #2b6f8fec;
  border-width: 6px;
  transform: scale(1.1);
}

.btn_txt { /* Text inside buttons dark version */
  font-family: "Amatic SC";
  font-size: 120px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
  transition: 0.5s ease;
}

.light .btn { /* Main buttons light version */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: calc(50% / 3);
  margin: 60px;
  background-color: #dfdcb8c0;
  border-radius: 30px;
  border: solid;
  border-width: 3px;
  border-color: #99977f;
  text-decoration: none;
  transition: 0.5s ease;
}

.light .btn:hover { /* Main buttons hover effect light version */
  background-color: #dfdcb8;
  border-width: 6px;
  transform: scale(1.1);
}

.light .btn_txt { /* Text inside buttons light version */
  font-family: "Amatic SC";
  font-size: 120px;
  color: black;
  -webkit-text-stroke: 0.5px #ffffff;
  text-align: center;
  transition: 0.5s ease;
}

.game_title { /* Title for every games dark version */
  font-size: 100px;
  font-family: "Amatic SC";
  color: white;
  margin-top: 350px;
  margin-left: 30px;
  -webkit-text-stroke: 2px black;
}

.light .game_title { /* Title for every games light version */
  font-size: 100px;
  font-family: "Amatic SC";
  color: black;
  margin-top: 350px;
  margin-left: 30px;
  -webkit-text-stroke: 0.5px white;
}

.game_txt { /* Main presentation text of the game dark version */
  font-family: "Amatic SC";
  color: white;
  font-size: 400%;
  margin: 80px;
  margin-bottom: 100px;
}

.light .game_txt { /* Main presentation text of the game light version */
  font-family: "Amatic SC";
  color: black;
  font-size: 400%;
  margin: 80px;
  margin-bottom: 100px;
}

.perso_right { /* Box when image is on the right */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 80px;
  transition: 0.5s ease;
  gap: 60px;
}

.perso_right:hover { /* Image + Text hover effect box */
  transform: scale(1.04);
}

.perso_right_img { 
  width: 10%;
}

.perso_right_txt { /* Text format for correct placement text dark version */
  color: white;
  font-family: "Amatic SC";
  margin-left: 60px;
  font-size: 300%;
}

.light .perso_right_txt { /* Text format for right image placement light version */
  color: black;
  font-family: "Amatic SC";
  margin-left: 60px;
  font-size: 300%;
}

.perso_left { /* Box when image is on the left */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  transition: 0.5s ease;
  gap: 60px;
}

.perso_left:hover { /* Image + Text hover effect box */
  transform: scale(1.04);
}

.perso_left_img {
  width: 10%;
}

.perso_left_txt { /* Text format for correct placement dark version */
  color: white;
  font-family: "Amatic SC";
  margin-right: 60px;
  font-size: 300%;
}

.light .perso_left_txt { /* Text format for correct placement light version */
  color: black;
  font-family: "Amatic SC";
  margin-right: 60px;
  font-size: 300%;
}

.top { /* UpArrow for scrolling to top dark version */
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #2b6f8f;
  color: white;
  padding: 18px 25px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: ease 0.5s;
}

.top:hover { /* UpArrow for scrolling to top hover effect dark version */
  font-size: 26px;
  transition: 0.5s ease;
  transform: scale(1.04);
  background-color: #1f4f61;
}

.light .top { /* UpArrow for scrolling to top light version */
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #99977f;
  color: black;
  padding: 18px 25px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: ease 0.5s;
}

.light .top:hover { /* UpArrow for scrolling to top hover effect light version */
  font-size: 26px;
  transition: 0.5s ease;
  transform: scale(1.04);
  background-color: #83816c;
}

.lightBtn { /* Light mode button */
  position: relative;
  background-color: #ffffffcc;
  padding: 10px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.lightBtn:hover { /* Light mode button */
  font-size: 30px;
  transition: 0.5s ease;
  transform: scale(1.04);
  background-color: #ffffff;
}

.light .lightBtn { /* Dark mode button hover effect */
  color: #ffff;
  position: relative;
  background-color: #00000079;
  padding: 10px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.light .lightBtn:hover { /* Dark mode button hover effect */
  color: #ffff;
  position: relative;
  background-color: #000000;
  padding: 10px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
}